:root {
  --primary-color: #df2828;
  --secondary-color: #0b071e;
  --tretiary-color: #1d1b1b;

  --primary-text: #ffffff;
  --secondary-text: #3a3a3a;
  --tertiary-text: #3f1132;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: var(--primary-text);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: -99;
}
.bg-video video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 50px;
}
.card {
  padding: 6px 8px;
  border-radius: 2px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: #3a3a3a7e;
  color: var(--primary-text);
  transition: 300ms ease-in;
}
.card:hover {
  transform: translateY(-10px);
}
.card label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.card > i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 26px;
  width: 26px;
}
.copy {
  background: var(--tretiary-color);
  margin-left: 4px;
  padding: 10px;
  border-radius: 4px;
  transition: 300ms ease-in-out;
}
.copy > i {
  font-size: 14px;
  transition: 100ms ease-in-out;
}

.copy:hover {
  background: var(--primary-color);
}

.loading-box {
  position: absolute;
  bottom: 80px;
  right: 80px;
}

.loading {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--primary-text);
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
}
.progress-bar {
  position: relative;
  overflow: hidden;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 300px;
  border: 2px solid var(--primary-text);
  border-radius: 50px;
  background: var(--tretiary-color);
  box-shadow: 0 0px 8px 0 var(--secondary-text),
    0 0px 20px 0 var(--tertiary-text);
}
.progress {
  position: absolute;
  border-radius: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  animation: scroll 1200ms linear infinite;
}
@keyframes scroll {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.menu-container {
  position: absolute;
  left: 80px;
  bottom: 80px;
}
.arrow-up,
.arrow-down,
.space {
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}
.arrow-up img,
.arrow-down img,
.space img {
  margin-right: 5px;
}
.menu-text {
  text-align: left;
  padding-right: 5%;
}

.namePlaceholder {
  position: absolute;
  color: var(--primary-text);
  font-size: 18px;
  border-radius: 4px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-left: 80px;
  margin-top: 80px;
  background-color: #ffffff4b;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 50px;
  border-left: 3px solid var(--primary-color);
}
.name {
  color: var(--primary-color);
  font-weight: 600;
}
